$primary: #222436;

@import "~bootstrap/scss/bootstrap";

body {
  background-color: #e5e5e5;
  min-width: 400px;
}

.app__cursor-pointer {
  cursor: pointer !important;
}

.app__cursor-default {
  cursor: default !important;
}

//.app__disabled {
//  cursor: none;
//  opacity: .65 !important;
//}

.app__line-height-1 {
  line-height: 1 !important;
}


.app__transition-opacity {
  transition: opacity .3s ease;
}

input, button {
  transition: all .2s ease !important;
}
