.modalWindowExternalContainer {
  background-color: rgba(0, 0, 0, .5);
  z-index: 3000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: opacity 0.25s ease, visibility 0.2s ease;
}

.modalWindowInternalContainer {
  margin: 50px;
  overflow: auto;
  width: 90%;
  height: 90%;
  max-height: 800px;
  max-width: 1200px;
  transition: transform 0.25s ease;
}

.hiddenExternalContainer {
  visibility: hidden;
  opacity: 0;
}

.hiddenInternalContainer {
  transform: scale(.1);
}

.closeBtn {
  position: absolute;
  right: 1rem;
  top: 0.75rem;
}
